<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_HR_gr1/blob/Khridin-Igor-folder/Insp_clnc_project_30_05_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Датасет** https://docs.google.com/spreadsheets/d/1G5YVap5J6dAejHaVpgYaOOnYcT_JY58q/edit?usp=sharing&ouid=104575252029664688288&rtpof=true&sd=true

# Подгрузка датасета

In [ ]:
! gdown --id 1G5YVap5J6dAejHaVpgYaOOnYcT_JY58q # Загружам файл с диска

In [ ]:
import pandas as pd # импортируем библиотеку

In [ ]:
df = pd.read_excel('/content/ДатаСет Оценка резюме 581 резюме.xlsx') # читаем датасет

# Параметризация данных

In [ ]:
print(df.shape) # Вывод колличества строк и столбцов

In [ ]:
df['Оценка_резюме'] = 0 # добавим результирующий столбец 'Оценка_резюме'

In [ ]:
df['Оценка_резюме'] # смотрим столбец в виде (series)

In [ ]:
print(df.columns) # Вывод имеющихся столбцов (добавился )

In [ ]:
df.head() # Вывод содержимого датасета

In [ ]:
# Удаление столбца 'Unnamed: 0' так, как он дублирует индекс строки

df = df.drop(columns=['Unnamed: 0'])

In [ ]:
# удаление дубликатов строк в датафрейме

df = df.drop_duplicates()

In [ ]:
# преобразование столбца 'Дата отклика' в формат datetime

df['Дата отклика'] = pd.to_datetime(df['Дата отклика'], errors='coerce')

In [ ]:
# создание функции для замены месяца в столбце 'Обновление резюме' на числовое значение

months = {
    "января": 1,
    "февраля": 2,
    "марта": 3,
    "апреля": 4,
    "мая": 5,
    "июня": 6,
    "июля": 7,
    "августа": 8,
    "сентября": 9,
    "октября": 10,
    "ноября": 11,
    "декабря": 12
}

def convert_date(date_str):
    for month_name, month_num in months.items():
        date_str = date_str.replace(month_name, str(month_num))
    return pd.to_datetime(date_str, format='%d %m %Y в %H:%M', errors='coerce')

df['Обновление резюме'] = df['Обновление резюме'].apply(convert_date)

In [ ]:
# удалениb строк с пропущенными значениями

df=df.dropna()

In [ ]:
# сортируем пропуски поубыванию

df.isna().mean().sort_values(ascending=False)

In [ ]:
# Проверка, сколько слов содержится в каждой строке в столбце 'ФИО'
df['ФИО'].str.split().apply(len).value_counts()

In [ ]:
df[['Фамилия', 'Имя']] = df['ФИО'].str.split(n=1, expand=True)

In [ ]:
df.info()

In [ ]:
df.head()